# Exclure les fichiers .class
*.class

# IntelliJ
*.idea
/out
/target
/target/
*/target/**
**/META-INF/
!.mvn/wrapper/maven-wrapper.jar

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
